<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@(ViewData["Title"] == null ? "Alice Identity Service" : "AIS - " + ViewData["Title"])</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="stylesheet" href="~/lib/bootswatch/cerulean/bootstrap.min.css" />
</head>
<body class="container-lg">
    <header>
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="~/">
                    <img src="~/icons/fingerprint-32x32.png" alt="" width="32" height="32" class="d-inline-block align-text-top">
                    Alice Identity Service
                </a>
                @if (User.Identity.IsAuthenticated)
                {
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="Index">Users</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="Profile">
                                    @User.FindFirst(c => c.Type == ClaimTypes.GivenName).Value's Profile
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="Logout">Logout</a>
                            </li>
                        </ul>
                    </div>
                }
            </div>
        </nav>
    </header>
    <main role="main" class="my-3" style="min-height: 400px;">
        @RenderBody()
    </main>

    <footer class="text-center">
        <div class="my-2">Copyright &copy; Chengyu Sun 2022.</div>
        <div>
            <a href="https://www.flaticon.com/free-icon/fingerprint_2313448" title="Fingerprint Icon">Fingerprint icon</a>
            created by <a href="https://www.flaticon.com/authors/pixel-perfect">Pixel perfect</a> -
            <a href="https://www.flaticon.com/">Flaticon</a>.
        </div>
    </footer>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
