@{
    ViewData["Title"] = "Forgot Password";
}

<div class="row justify-content-center px-3">
    <div class="col col-lg-6 border bg-light">
        <form method="post">
            <h2 class="text-center">Forgot Password</h2>
            <div class="form-floating mb-3">
                <input id="email" name="email" type="email" class="form-control" placeholder="Email" required>
                <label for="email">Email</label>
            </div>
            <div class="mb-3 d-grid">
                <button id="submit" type="submit" class="btn btn-primary">Reset Password</button>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script>
        $(function () {
            $("form").submit(function () {
                $("#submit").prop("disabled", true).html("<span class='spinner-border spinner-border-sm'></span>");
            });
        });
    </script>
}
