{
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Database=ais2;Username=cysun;Password=abcd"
  },
  "Email": {
    "AppUrl": "https://localhost:5001",
    "SenderName": "Alice Identity Service",
    "SenderEmail": "ais@localhost.localdomain",
    "SendGridKey": "abcXYZ"
  },
  "Serilog": {
    "Using": [
      "Serilog.Sinks.File"
    ],
    "WriteTo": [
      {
        "Name": "File",
        "Args": {
          "path": "D:/Temp/AliceIdentityService2/log.txt",
          "rollingInterval": "Day",
          "retainedFileCountLimit": null
        }
      }
    ],
    "MinimumLevel": {
      "Default": "Information",
      "Override": {
        "Microsoft": "Warning",
        "System": "Warning"
      }
    },
    "Enrich": [
      "FromLogContext"
    ]
  },
  "AllowedHosts": "*"
}
