@using static AliceIdentityService.Services.UserService;
@model Dictionary<CountType, int>
@{
    ViewData["Title"] = "Users";
}
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item active me-auto">Users</li>
        <li><a asp-action="Add" class="btn btn-outline-primary btn-sm"><i class="bi bi-plus-lg"></i></a></li>
    </ol>
</nav>

<form method="get" class="d-inline-flex mb-3">
    <input id="search" name="searchText" class="form-control me-2">
    <button class="btn btn-outline-primary" type="submit"><i class="bi bi-search"></i></button>
</form>

<div class="row g-3">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header text-center">Total</div>
            <div class="card-body text-center display-6">@Model[CountType.Total]</div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header text-center">Recent</div>
            <div class="card-body text-center display-6 text-success">
                <a asp-action="Recent" class="link-success stretched-link text-decoration-none">@Model[CountType.Recent]</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header text-center">Unconfirmed</div>
            <div class="card-body text-center display-6">
                <a asp-action="Unconfirmed" class="link-warning stretched-link text-decoration-none">@Model[CountType.Unconfirmed]</a>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/autocomplete.js" asp-append-version="true"></script>
    <script>
        $(function () {
            const field = document.getElementById("search");
            const ac = new Autocomplete(field, {
                onInput: function () {
                    $.ajax({
                        url: "User/Autocomplete",
                        data: { searchText: $("#search").val() },
                        success: results => ac.setData(results.map(r =>
                            ({ label: r.fullName, value: r.id })))
                    })
                },
                onSelectItem: ({ label, value }) => {
                    window.location.href = `User/View/${value}`;
                }
            });
        });
    </script>
}
